body {
  margin: 0px;
  padding: 0px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: rgba(0, 0, 0, 0.5);

  /* text-transform: uppercase; */
  /* top: 15%; */
  background: linear-gradient(to right, red, yellow); /* Standard syntax */
}
.container {
  text-align: center;
}
h1 {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
}

h3 {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
}

.lable {
  display: inline-block;
  font-size: 1em;
}

input {
  margin: 0.5em 0.5em 0.5em 0em;
  width: 50px;
  height: 30px;
}

[type="radio"] {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 0.5em;
}

.buttongenerate {
  padding: 1em;
  width: 200px;
  /* height: 65px; */
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: "Yanone Kaffeesatz", sans-serif;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.gradientcodedisplayer{
  padding: 0.8em;
  /* width: 50%; */
  /* height: 20px; */
  text-align: center;
  font-size: 20px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

}
.forcodedisplay{
display: flex;
align-items: center;
flex-direction: column;
}

.copybutton{
  
  padding: 0.5em;
  /* width: 50%; */
  /* height: 20px; */
  text-align: center;
  font-size: 20px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.copybutton:hover{
  cursor: pointer;
}